/*////////////// Fonts //////////////*/
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville');
/* link the web font used for the level 1 heading here */

/*////////// Global Styles //////////*/

body {
	background: #F3EBE9;
	font-size: 100%;
	font-family: 'Times New Roman', serif;
}

.wrapper {
	width: 960px;
	margin: 0 auto;
	background: #fff;
	padding: 0 45px 20px;
}

header {
	top: 0;
	left: 0;
	border-bottom: 1px solid #9AABA5;
	margin-bottom: 2px;
}
#title h1 {
	font-family: 'Libre Baskerville', serif;
	color: #9AABA5;
	font-size: 3em;
}

section {
	margin-top: 0;
	margin-bottom: 0;
}

h2 {
	color: #6E7C80;
}

#copyright {
	text-align: right;
	font-size: 0.75em;
	color: #9AABA5;
}

#press-links img {
	border: 5px solid #CCCCCC;
}

#press-links img:hover {
	border: 5px solid #707E7A;
}

#featured-image img {
	border: 5px solid #98ABA5;
}

a {
	text-decoration: none;
}
