/*////////////// Fonts //////////////*/

/* link the web font used for the level 1 heading here */

@import url('https://fonts.googleapis.com/css?family=Elsie+Swash+Caps:400,900|Lora|Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Clicker+Script|Elsie+Swash+Caps:400,900|Lora|Work+Sans&display=swap');
/*////////// Global Styles //////////*/

body {
	background: #F3EBE9;
	font-size: 100%;
	font-family: 'Times New Roman', serif; 
}

.wrapper {
	width: 960px;
	margin: 0 auto;
	background: #fff;
	padding: 0 45px 20px;
}

/* Write all remaining styles here */
h1 {
  font-family: "Clicker Script", cursive;
}
a {transition: background-color 0.5s ease;
}
a:hover {
  background-color: green;
}